In [20]:
import pandas as pd

In [21]:
df = pd.read_excel("C:\\Users\\HP\\Downloads\\Attendence list segregated.xlsx",header=None)
df.columns = df.iloc[1]     
df = df.drop([0, 1])

In [22]:
print(df.head())

                                              0      1                   2   \
0  Agroforestry training IFGTB - Attendence list    NaN                 NaN
1                                           Date  Batch  No of Participants
2                                            NaN    NaN                 NaN
3                                     28.01.2025      1                  46
4                                     30.01.2025      2                  42

        3       4     5       6     7       8      9   10   11   12   13  \
0      NaN     NaN   NaN     NaN   NaN     NaN    NaN NaN  NaN  NaN  NaN
1  ACF/FEO     NaN   FRO     NaN    Fr     NaN  Total NaN  NaN  NaN  NaN
2     Male  Female  Male  Female  Male  Female    NaN NaN  ACF  FRO   Fr
3        0       1    19       3    18       5     46 NaN    1   22   23
4        1       0    17       2    18       4     42 NaN    1   19   22

      14
0    NaN
1    NaN
2  Total
3     46
4     42

In [23]:
df.columns = [
    'Date', 'Batch', 'No_of_Participants',
    'ACF_Male', 'ACF_Female',
    'FRO_Male', 'FRO_Female',
    'Fr_Male', 'Fr_Female',
    'Total', '', 'ACF', 'FRO', 'Fr', 'Total_2'
]

In [24]:
df_long = df.melt(
    id_vars=["Date", "Batch", "No_of_Participants"],
    value_vars=[
        "ACF_Male", "ACF_Female",
        "FRO_Male", "FRO_Female",
        "Fr_Male", "Fr_Female"
    ],
    var_name="Role_Gender",
    value_name="Count"
)

In [25]:
df_long[["Role", "Gender"]] = df_long["Role_Gender"].str.split("_", expand=True)
df_long.drop("Role_Gender", axis=1, inplace=True)

In [29]:
df_long["Batch"] = df_long["Batch"].astype(str)
df_long = df_long.assign(
    Batch=df_long["Batch"].str.split("&")
).explode("Batch")
df_long["Batch"] = df_long["Batch"].str.strip()

In [30]:
df.to_csv("attendance_cleaned.csv", index=False)

In [28]:
print(df.head())

                                            Date  Batch  No_of_Participants  \
0  Agroforestry training IFGTB - Attendence list    NaN                 NaN
1                                           Date  Batch  No of Participants
2                                            NaN    NaN                 NaN
3                                     28.01.2025      1                  46
4                                     30.01.2025      2                  42

  ACF_Male ACF_Female FRO_Male FRO_Female Fr_Male Fr_Female  Total      ACF  \
0      NaN        NaN      NaN        NaN     NaN       NaN    NaN NaN  NaN
1  ACF/FEO        NaN      FRO        NaN      Fr       NaN  Total NaN  NaN
2     Male     Female     Male     Female    Male    Female    NaN NaN  ACF
3        0          1       19          3      18         5     46 NaN    1
4        1          0       17          2      18         4     42 NaN    1

   FRO   Fr Total_2
0  NaN  NaN     NaN
1  NaN  NaN     NaN
2  FRO   Fr   Total
3   22   23      46
4   19   22      42